{% macro button(name, url='default', color='primary') %}
    <table class="action" align="center" width="100%" cellpadding="0" cellspacing="0">
        <tr>
            <td align="center">
                <table width="100%" border="0" cellpadding="0" cellspacing="0">
                    <tr>
                        <td align="center">
                            <table border="0" cellpadding="0" cellspacing="0">
                                <tr>
                                    <td>
                                        <a href="{{ url }}" class="button button-{{ color }}" target="_blank">{{ name }}</a>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
{% endmacro %}

{% if name %}
    {{ button(name, url, color) }}
{% endif %}
