{% macro header(name, url='default') %}
    <tr>
        <td class="header">
            <a href="{{ url }}" target="_blank">
                <img width="300px" src="http://static.yourcheersapp.com/cheers/media/images/cheers-logo-mail.png"/>
                <br/><br/>
            </a>
        </td>
    </tr>
{% endmacro %}
